<%-include('/admin/adminHeader')%>
<div class="flex-1 flex w-screen overflow-x-hidden">

  <div class="p-2 bg-white w-60 flex-col hidden md:flex " id="sideNav">
    <nav>
      <a class="block py-2.5 px-4 my-4 rounded transition duration-200 bg-gradient-to-r from-cyan-400 to-[#076AE1] text-white" href="#">
        <i class="fas fa-home mr-2"></i>Dashboard
      </a>
      <a class="block text-gray-500 py-2.5 px-4 my-4 rounded transition duration-200 hover:bg-gradient-to-r hover:from-cyan-400 hover:to-[#076AE1] hover:text-white" href="/admin/userMangement">
        <i class="fas fa-users mr-2"></i>User Management
      </a>
      <a class="block text-gray-500 py-2.5 px-4 my-4 rounded transition duration-200 hover:bg-gradient-to-r hover:from-cyan-400 hover:to-[#076AE1] hover:text-white" href="/admin/categoryManagement">
        <i class="fa-solid fa-boxes-stacked mr-2"></i>Category Management
      </a>
      <a class="block text-gray-500 py-2.5 px-4 my-4 rounded transition duration-200 hover:bg-gradient-to-r hover:from-cyan-400 hover:to-[#076AE1] hover:text-white" href="#">
        <i class="fas fa-store mr-2"></i>Product Management
      </a>
      <a class="block text-gray-500 py-2.5 px-4 my-4 rounded transition duration-200 hover:bg-gradient-to-r hover:from-cyan-400 hover:to-[#076AE1] hover:text-white" href="/admin/orderManagement">
        <i class="fas fa-exchange-alt mr-2"></i>Order Management
      </a>
      <a class="block text-gray-500 py-2.5 px-4 my-4 rounded transition duration-200 hover:bg-gradient-to-r hover:from-cyan-400 hover:to-[#076AE1] hover:text-white" href="/admin/couponManagement">
        <i class="fa-sharp fas fa-regular fa-tag"></i> Coupon Mangement
      </a>
      <a class="block text-gray-500 py-2.5 px-4 my-4 rounded transition duration-200 hover:bg-gradient-to-r hover:from-cyan-400 hover:to-[#076AE1] hover:text-white" href="/admin/report">
        <i class="fas fa-file-alt mr-2"></i>Report
      </a>
    </nav>
    <a class="block text-gray-500 py-2.5 px-4 my-2 rounded transition duration-200 hover:bg-gradient-to-r hover:from-cyan-600 hover:to-[#076AE1] hover:text-white mt-auto" href="/logout">
      <i class="fas fa-sign-out-alt mr-2"></i>Logout
    </a>
  </div>
  <!-- BOdy part -->
  <div class="w-full">
    <div class="flex gap-16 justify-center p-5 text-center">
      <div class="w-40 flex-col bg-white rounded-xl">
        <p class="font-bold text-2xl"><%=totalDaySale %></p>
        <h1>Order</h1>
        <p>Today</p>
      </div>
      <div class="w-40 flex-col bg-white rounded-xl">
        <p class="font-bold text-2xl"><%=totalMonthSale %></p>
        <h1>Order </h1>
        <p>This Month</p>
      </div>
      <div class="w-40 flex-col bg-white rounded-xl">
        <p class="font-bold text-2xl">₹<%=Monthprofit %></p>
        <h1>Profit</h1>
        <p>This month</p>
      </div>
    </div>
    <div class=" w-full flex gap-10 justify-center p-5">
      <h1 class="font-black text-4xl">Report</h1>
      <div class="flex text-center  items-center gap-5">
        <div>
          <input type="radio" name="filter" id="month" onchange="updateChart('MONTHLY')" checked><label for="month">Monthly</label>
        </div>
        <div>
          <input type="radio" name="filter" id="year" onchange="updateChart('YERALY')"><label for="year">Yearly</label>
        </div>
      </div>
    </div>
    <div class="flex  gap-10 justify-center items-center">
      <div>
        <h1 class="text-center font-semibold p-5">Total Sales</h1>
        <div style="width: 400px;"><canvas id="sales"></canvas></div>
      </div>
      <div>

        <h1 class="text-center font-semibold p-5">Sales By Category</h1>
        <div style="width: 300px;"><canvas id="Category"></canvas></div>
      </div>
    </div>

  </div>
</div>

<!-- chart js -->
<script src="https://cdn.jsdelivr.net/npm/chart.js@4.4.0/dist/chart.umd.min.js"></script>
<script>
  let myChart;
  let categoryChart

  function updateChart(filter) {
    // Fetch new data based on the selected FILTER
    fetch('/admin/getData', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify({
          filter: filter
        })
      })
      .then((response) => {
        return response.json()
      })
      .then((data) => {
        salesChart(data, data.filter);
      })
  }

  async function salesChart(data, filter) { //function for generating the chart
    if (myChart) {
      myChart.destroy();
    }
    myChart = new Chart(
      document.getElementById('sales'), {
        type: 'line',
        scales: {
          y: {
            beginAtZero: true
          }
        },
        data: {
          labels: data.saleData.map(row => row.month ?? row.year),
          datasets: [{
            barPercentage: 1,
            barThickness: 90,
            label: `${filter} SALES`,
            data: data.saleData.map(row => row.count),
          }]
        }
      }
    );

    if (categoryChart) {
      categoryChart.destroy();
    }

    categoryChart = new Chart(
      document.getElementById('Category'), {
        type: 'pie',
        scales: {
          y: {
            beginAtZero: true
          }
        },
        data: {
          labels: data.categoryData.map(row => row.category),
          datasets: [{
            barPercentage: 1,
            barThickness: 90,
            label: `${filter} SAles`,
            data: data.categoryData.map(row => row.itemCount),
          }]
        }
      }
    );
  }
  window.onload = updateChart('MONTHLY')
</script>

<script>
  const menuBtn = document.getElementById('menuBtn');
  const sideNav = document.getElementById('sideNav');
  menuBtn.addEventListener('click', () => {
    sideNav.classList.toggle('hidden');
  });
</script>
<script src="https://kit.fontawesome.com/2129bb9b13.js" crossorigin="anonymous"></script>
</body>

</html>