<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/dist/output.css" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,200&family=Poppins:wght@100;400;700;800;900&display=swap" rel="stylesheet">
  <title>404</title>
  <style>
  </style>
</head>

<body>
  <section class="page_404">
    <div class="container h-screen overflow-hidden">
      <div class="w-100 flex justify-center md:-translate-y-24">
        <img class="w-fit " src="https://cdn.dribbble.com/users/285475/screenshots/2083086/dribbble_1.gif" alt="">
      </div>
      <div class="text-center md:-translate-y-48">
        <h1 class="text-center text-[100px] font-black">404</h1>
        <h3 class="h2">
          Look like you're lost
        </h3>

        <p>the page you are looking for not avaible!</p>

        <a href="/products" class="text-blue-700">Go to Home</a>
      </div>

    </div>
  </section>

</body>

</html>