<div class="flex justify-center items-center w-screen  h-[400px]  bg-slate-900">
  <div class="flex flex-col justify-start items-center">
    <div class="flex justify-start items-start w-screen">
      <div class="w-1/4 flex justify-center">
        <img class="mt-1.5 w-60" width="100.6px" height="60.1px" src="/images/offiq logo.png" alt="LOGO" />
      </div>
      <div class="flex justify-center gap-10 w-3/4">
        <div class="flex flex-col justify-between items-start gap-5 h-56">
          <div
            class="font-circular-std text-[18px] whitespace-nowrap text-white text-opacity-100 leading-none font-normal">
            Learn More
          </div>
          <div class="font-circular-std text-sm  text-white text-opacity-100 leading-7 font-normal">
            About Lift<br />Press Relaases<br />Environment<br />Jobs<br />Privacy
            Policy<br />Contact Us
          </div>
        </div>

        <div class="ml-16 flex flex-col justify-between items-start gap-6 h-[100px]">
          <div
            class="font-circular-std text-[18px]  whitespace-nowrap text-white text-opacity-100 leading-none font-normal">
            Contact Us
          </div>
          <div class="flex flex-col justify-between items-start gap-4  h-[51px]">
            <div class="flex justify-between items-center pr-1.5 gap-3 h-4">
              <div
                class="font-circular-std text-sm  whitespace-nowrap text-white text-opacity-100 leading-none font-normal">
                Hotel Reservation:
              </div>
              <div
                class="font-circular-std text-sm  whitespace-nowrap text-white text-opacity-100 leading-none font-normal">
                123-456-7890
              </div>
            </div>
            <div class="flex justify-between items-center gap-5 h-4">
              <div
                class="font-circular-std text-sm  whitespace-nowrap text-white text-opacity-100 leading-none font-normal">
                Ticket Office:
              </div>
              <div
                class="font-circular-std text-sm  whitespace-nowrap text-white text-opacity-100 leading-none font-normal">
                123-456-7890
              </div>
            </div>
          </div>
        </div>
        <div class="ml-16 flex flex-col justify-between items-start gap-7  h-[72px]">
          <div class="font-circular-std   whitespace-nowrap text-white text-opacity-100 leading-none font-normal">
            Social
          </div>
          <div class="ml-0 flex justify-between items-center gap-6 text-white font-thin h-5">
            <i class="fi fi-brands-instagram"></i>
            <i class="fi fi-brands-twitter"></i>  
            <i class="fa fa-linkedin" aria-hidden="true"></i>
          </div>
        </div>
      </div>
    </div>
    
    <div class="mt-7 font-circular-std text-sm whitespace-nowrap text-white text-opacity-100 leading-none font-normal">
      © 2020 OFFIQ.shop | All Rights Reserved
    </div>
  </div>
</div>