
  <script src="/toggle.js"></script>

  <body>
    <div class="toggle">
      <input onchange="toggle()" type="checkbox" id="switch" />
      <label for="switch">Toggle</label>
    </div>
    <div
      class="flex flex-col justify-center items-center gap-8 pt-16 pr-16 pb-16 pl-16 w-[1920px] h-[737px] bg-slate-800">
      <div
        class="font-poppins text-2xl text-center w-[1740px] text-white/60 text-opacity-55 leading-none font-normal">
        <br />
        About Us | Contact Us | FAQ | Privacy Policy | Terms of Service
        <br />
        <br />OFFIQ | Your Office Equipment and Services Partner <br />Address:[
        Company address ]<br />Phone: [ Contact Number ] | Email: [ Email
        Address]
        <br />
        <br />Connect with us:&nbsp;
      </div>
      <div class="flex flex-row justify-start items-start gap-6 w-[214px] h-11">
        
      </div>
      <div
        class="font-poppins text-2xl text-center whitespace-nowrap text-white/60 text-opacity-55 leading-none font-normal">
        &nbsp;© 2023 OFFIQ. All rights reserved. <br />
      </div>
    </div>
  </body>
</html>
