<%-include('adminHeader')%>

        <div class="flex-1 flex">
     
            <div class="p-2 bg-white w-60 flex-col hidden md:flex" id="sideNav">
                <nav>
                    <a class="block py-2.5 px-4 my-4 rounded transition duration-200 bg-gradient-to-r from-cyan-400 to-[#076AE1] text-white"
                        href="#">
                        <i class="fas fa-home mr-2"></i>Dashboard
                    </a>
                    
                    <a class="block text-gray-500 py-2.5 px-4 my-4 rounded transition duration-200 hover:bg-gradient-to-r hover:from-cyan-400 hover:to-[#076AE1] hover:text-white"
                        href="../admin/userMangement">
                        <i class="fas fa-users mr-2"></i>User Management
                    </a>
                    <a class="block text-gray-500 py-2.5 px-4 my-4 rounded transition duration-200 hover:bg-gradient-to-r hover:from-cyan-400 hover:to-[#076AE1] hover:text-white"
                        href="#">
                        <i class="fa-solid fa-boxes-stacked mr-2"></i>Category Management
                    </a>
                    <a class="block text-gray-500 py-2.5 px-4 my-4 rounded transition duration-200 hover:bg-gradient-to-r hover:from-cyan-400 hover:to-[#076AE1] hover:text-white"
                        href="#">
                        <i class="fas fa-store mr-2"></i>Product Management
                    </a>
                    
                    <a class="block text-gray-500 py-2.5 px-4 my-4 rounded transition duration-200 hover:bg-gradient-to-r hover:from-cyan-400 hover:to-[#076AE1] hover:text-white"
                        href="../admin/orderManagement">
                        <i class="fas fa-exchange-alt mr-2"></i>Order Management
                    </a>
                    <a class="block text-gray-500 py-2.5 px-4 my-4 rounded transition duration-200 hover:bg-gradient-to-r hover:from-cyan-400 hover:to-[#076AE1] hover:text-white"
                        href="#">
                        <i class="fas fa-file-alt mr-2"></i>Report
                    </a>
                </nav>

      
                <a class="block text-gray-500 py-2.5 px-4 my-2 rounded transition duration-200 hover:bg-gradient-to-r hover:from-cyan-600 hover:to-[#076AE1] hover:text-white mt-auto"
                    href="/logout">
                    <i class="fas fa-sign-out-alt mr-2"></i>Logout
                </a>

            </div>


        </div>
    </div>
    <script>
        const menuBtn = document.getElementById('menuBtn');
        const sideNav = document.getElementById('sideNav');
        menuBtn.addEventListener('click', () => {
            sideNav.classList.toggle('hidden'); 
        });
    </script>
    <script src="https://kit.fontawesome.com/2129bb9b13.js" crossorigin="anonymous"></script>
</body>

</html>