<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/dist/output.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;900&display=swap"
        rel="stylesheet">
    <title>Dashboard</title>
</head>

<body class="font-[Montserrat]">
    <div class="flex flex-col h-screen  bg-gray-100">
        <div class="bg-white h-20 text-white shadow w-full flex px-6 items-center justify-between">
            <div class="flex items-center">
                <div class="md:hidden flex items-center"> 
                    <button id="menuBtn">
                        <i class="fas fa-bars text-gray-500 text-lg"></i> 
                    </button>
                </div> 
                <div class="flex  items-center"> 
                    <img src="/images/offiq blacklogo.png" alt="Logo"
                        class="md:w-28 md:translate-x-0 translate-x-[100%] w-24 h-18 mr-2 ">
                </div>
                
            </div>

 
            <div class="space-x-5">
                <button>
                    <i class="fas fa-bell text-gray-500 text-lg"></i>
                </button>
           
                <button>
                    <i class="fas fa-user text-gray-500 text-lg"></i>
                </button>
            </div>
        </div>


        <div class="flex-1 flex">
     
            <div class="p-2 bg-white w-60 flex-col hidden md:flex" id="sideNav">
                <nav>
                    <a class="block py-2.5 px-4 my-4 rounded transition duration-200 bg-gradient-to-r from-cyan-400 to-[#076AE1] text-white"
                        href="#">
                        <i class="fas fa-home mr-2"></i>Dashboard
                    </a>
                    
                    <a class="block text-gray-500 py-2.5 px-4 my-4 rounded transition duration-200 hover:bg-gradient-to-r hover:from-cyan-400 hover:to-[#076AE1] hover:text-white"
                        href="../admin/userMangement">
                        <i class="fas fa-users mr-2"></i>User Management
                    </a>
                    <a class="block text-gray-500 py-2.5 px-4 my-4 rounded transition duration-200 hover:bg-gradient-to-r hover:from-cyan-400 hover:to-[#076AE1] hover:text-white"
                        href="#">
                        <i class="fa-solid fa-boxes-stacked mr-2"></i>Category Management
                    </a>
                    <a class="block text-gray-500 py-2.5 px-4 my-4 rounded transition duration-200 hover:bg-gradient-to-r hover:from-cyan-400 hover:to-[#076AE1] hover:text-white"
                        href="#">
                        <i class="fas fa-store mr-2"></i>Product Management
                    </a>
                    
                    <a class="block text-gray-500 py-2.5 px-4 my-4 rounded transition duration-200 hover:bg-gradient-to-r hover:from-cyan-400 hover:to-[#076AE1] hover:text-white"
                        href="#">
                        <i class="fas fa-exchange-alt mr-2"></i>Order Management
                    </a>
                    <a class="block text-gray-500 py-2.5 px-4 my-4 rounded transition duration-200 hover:bg-gradient-to-r hover:from-cyan-400 hover:to-[#076AE1] hover:text-white"
                        href="#">
                        <i class="fas fa-file-alt mr-2"></i>Report
                    </a>
                </nav>

      
                <a class="block text-gray-500 py-2.5 px-4 my-2 rounded transition duration-200 hover:bg-gradient-to-r hover:from-cyan-600 hover:to-[#076AE1] hover:text-white mt-auto"
                    href="/logout">
                    <i class="fas fa-sign-out-alt mr-2"></i>Logout
                </a>

            </div>


        </div>
    </div>
    <script>
        const menuBtn = document.getElementById('menuBtn');
        const sideNav = document.getElementById('sideNav');
        menuBtn.addEventListener('click', () => {
            sideNav.classList.toggle('hidden'); 
        });
    </script>
    <script src="https://kit.fontawesome.com/2129bb9b13.js" crossorigin="anonymous"></script>
</body>

</html>