<%- include('header') %>
  <main class="pt-10 mt-28 min-h-screen bg-gray-100">
    <div class="flex  justify-center ">
      <!-- search -->
      <div>

        <div class="w-full max-w-sm flex items-center ">


          <form action="" class="relative mx-auto w-max">
            <input type="search"
              class="peer cursor-pointer relative z-10 h-12 w-12 rounded-full border bg-transparent outline-none placeholder-transparent focus:placeholder-gray-500 focus:w-full focus:cursor-text focus:border-gray-30 focus:pl-16 focus:pr-4 transition-all duration-100"
              placeholder="Search Product" />

            <svg xmlns="http://www.w3.org/2000/svg"
              class="absolute inset-y-0 my-auto h-8 w-12 border-r border-transparent stroke-gray-500 px-3.5 peer-focus:border-gray-300 peer-focus:stroke-gray-500 "
              fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
              <path stroke-linecap="round" stroke-linejoin="round" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" />
            </svg>
          </form>
        </div>
      </div>
    </div>


    <% category.forEach(category=> { %>


      <div class="flex justify-center">
        <a href="/products/<%=category._id%>"><h1 class="font-black text-center  text-[50px] text-gray-700 "><%=category.name%></h1></a>
       


      </div>

      <% }); %>
  </main>
  <script>
    const toggleButton = document.getElementById('toggle-menu');
    const mobileMenu = document.getElementById('mobile-menu');

    toggleButton.addEventListener('click', () => {
      mobileMenu.classList.toggle('hidden');
    });
  </script>
  <script src="https://kit.fontawesome.com/2129bb9b13.js" crossorigin="anonymous"></script>
  </body>

  </html>