<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="dist/output.css" rel="stylesheet">
    <title>Sign In</title>
</head>

<body>
    <div class="w-full h-2/5 bg-blue-700 text-center">
        dsjhjh
    </div>
  
    <script>
        const signupForm = document.getElementById('signupForm');
        const submitButton = document.getElementById('submitButton');

        signupForm.addEventListener('submit', (event) => {
            event.preventDefault(); // Prevent default form submission

            const fullname = signupForm.fullname.value;
            const email = signupForm.email.value;
            const password = signupForm.password.value;
            const confirmPassword = signupForm.Cpassword.value;

            const errors = [];

            if (fullname.length < 5) {
                errors.push('fullname must have at least 5 characters');
            }

            if (password !== confirmPassword) {
                errors.push('Passwords do not match');
            }

            // Basic email validation (regex)
            const emailPattern = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
            if (!emailPattern.test(email)) {
                errors.push('Invalid email format');
            }

            // Password validation: at least 8 characters with a combination of letters and numbers
            const passwordPattern = /^(?=.*[a-zA-Z])(?=.*\d).{8,}$/;
            if (!passwordPattern.test(password)) {
                errors.push('Password must be at least 8 characters and contain both letters and numbers');
            }

            if (errors.length > 0) {
                // Display error messages to the user
                const errorMessage = errors.join('\n');
                alert(errorMessage);
            } else {
                // Submit the form if there are no errors
                signupForm.submit();
            }
        });


    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.min.js"
        integrity="sha384-Rx+T1VzGupg4BHQYs2gCW9It+akI2MM/mndMCy36UVfodzcJcF0GGLxZIzObiEfa"
        crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/2129bb9b13.js" crossorigin="anonymous"></script>
    <script src="login.js"></script>
</body>

</html>